/**
 * ===========================
 * Your Style Goes Here
 * ===========================
**/


@import url(//fonts.googleapis.com/css?family=Lato);

body{
	background: black;
	font-family: 'Lato', sans-serif;
}

h1, h2{
	color: white;
}
#top {
	display: inline-block;
	position: absolute;
	margin-top: 0;
}
#page{
	height: 100vh;

}

[data-ui='quick-menu'] span{
	color: #F7F6F6;
}

[data-ui="inner-menu"]{
	margin-bottom: 2vh;
}

button{
	outline: none;
	background: gray;
	color: white;
}

button:hover{
	background: rgb(103, 131, 255);
}

[data-ui="slots"] figure{
	background: rgba(229,57,53,0.8);
	color: rgba(255,255,255,0.8);
}

input[type=range]::-webkit-slider-runnable-track{
	background: #ffd54f;
}

input[type=range]:focus::-webkit-slider-runnable-track{
	background: #ffd54f;
}

input[type=range]::-moz-range-track{
	background: #ffd54f;
}

input[type=range]::-ms-fill-lower{
	background: #ffd54f;
}

input[type=range]::-ms-fill-upper {
	background: #ffd54f;
}

[data-ui="slots"] figure, button{
	-webkit-transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),-webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
}

[data-component="modal"]{
	border-radius: 3px;

}